@import "tailwindcss/base";

html,
body {
  @apply text-gray-900 antialiased font-sans;
}

@import "tailwindcss/components";

.container {
  max-width: 900px;
  min-height: 100vh;

  position: relative;
}

.link {
  color: #007bff;
}

.link:hover {
  text-decoration: underline;
}

@import "tailwindcss/utilities";

.main-bg {
  background-blend-mode: normal, hard-light;
  background-size: 100%, 100%, 200px;
  background-position: bottom, initial, initial;
  background-repeat: no-repeat, no-repeat, repeat;
}

.main-bg--summer {
  background-image: url("/wave.svg"), linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%),
    url("/circuit-board.svg");
}

.main-bg--winter {
  background-image: url("/wave.svg"), linear-gradient(-225deg, #b7f8db 0%, #50a7c2 100%), url("/circuit-board.svg");
}

.main-bg--spring {
  background-image: url("/wave.svg"), linear-gradient(-225deg, #20e2d7 0%, #f9fea5 100%), url("/circuit-board.svg");
}

.main-bg--fall {
  background-image: url("/wave.svg"), linear-gradient(to right, #d7d2cc 0%, #304352 100%), url("/circuit-board.svg");
}

.logo {
  margin: 0 auto;
  padding: 20% 10%;
  width: 100%;
}

.header {
  height: 100vh;
  display: flex;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.peeps {
  display: flex;
  justify-content: space-around;
}

.peep {
  width: 20%;
  padding-top: 20%;

  background-size: 100%;
}

.peep.peep-sasse {
  background-image: url("/sasse.svg");
}
.peep.peep-ze {
  background-image: url("/ze.svg");
}
.peep.peep-bordi {
  background-image: url("/bordi.svg");
}
.peep.peep-feijo {
  background-image: url("/feijo.svg");
}
